* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wall{
    display: flex;
    background-color:#0176d6;
    color: white;
    margin: 4px;
    height: 80px;
    border-radius: 5px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}
.img-s{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}
.img-a{
    flex-basis: 33%;
}
.image {
    max-width: 100%;
}
.blue-line {
    
}
article {
    padding: 20px 12px;
    border-bottom: 1px solid #b8b5b5;
}
p{
    color: gray;
}
footer {
    text-align: left;
    border-top: 2px solid #ffffff;
}